# Ignore virtual environments
venv*/
.venv*/

# Ignore environment files
.env
.python-version

# Ignore datasets and large files
dataset/
*.h5
*.pkl
*.ipynb_checkpoints
__pycache__/
chefly_mobilenetv2.h5
