flask==3.0.2
flask-wtf==1.2.1
flask-sqlalchemy==3.1.1
flask-login==0.6.3
werkzeug==3.0.1
requests==2.31.0
openai==1.12.0
cloudinary==1.44.0
numpy>=1.24.0
Pillow>=10.0.0
pymysql==1.1.0
python-dotenv==1.0.1
email_validator==2.2.0
tensorflow-cpu>=2.10.0
flask_mail==0.10.0
python-dotenv
sqlalchemy==2.0.20
gunicorn==21.2.0
transformers==4.37.0
cryptography>=39.0.0
