

{% extends "base.html" %}
{% block content %}

<link rel="stylesheet" href="{{ url_for('static', filename='css/about.css')}}">
<body>
    <div class="about-container">
        <h1>Discover the World's Flavors</h1>
        <p>Our mission: make cooking accessible and enjoyable for everyone.</p>
        <p>Explore carefully selected recipes from different cultures, with step-by-step instructions for perfect results.</p>
        <p>Join our community to share and discover new dishes.</p>
    </div>
</body>
{% endblock %} 